{% extends "::base.html.twig" %}
{% block headline %}
{% endblock headline %}
{% block content %}
<div class="row">
    <div class="offset2 span8">
        {% form_theme myform 'MopaBootstrapBundle:Form:fields.html.twig' %}
        <form class="form-horizontal well" method="post" action="{{ path('_projectIdea') }}">
            <legend>Add idea to the Project Idea Box</legend>
            {{ form_widget(myform) }}
            <div class="form-actions">
                <input type="submit" value="Register" class="btn"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}