{% extends "::base.html.twig" %}
{% block content %}
<div class="row">
    <div class="offset2 span8">

        {% include 'RuianTwitterBootstrapBundle:Alert:bootstrap_v2.html.twig' %}

        {% form_theme form 'RuianTwitterBootstrapBundle:Form:bootstrap_v2.html.twig' %}
        <form novalidate class="form-horizontal well" method="post" action="{{ path('_registration') }}">
            {{ form_widget(form) }}
            <div class="well">
                <input type="submit" value="Save" class="btn" />
            </div>
        </form>
    </div>
</div>
{% endblock %}