{% extends "::base.html.twig" %}
{% block content %}
<h1>What is a Hackathon?</h1>
<p>
    A Hackathon is usually a community-organized event. It is something between a conference with
    workshops and a casual get together. During the day programming and presentations are on
    schedule, in the evening it's time to let your hair down, get yourself a beer and make new
    friends and have fun with the old ones.
</p>
<p>
    The main point of a hackathon is to take your time and solve problems, that everybody has and
    that are usually covered up with a few dirty fixes or are postponed to the next less busy day.
</p>
<h2>Magento Hackathon</h2>
<p>
    The first magento hackathon in Germany took place on March 2012 in Munich with great support
    by <a href="http://www.jarlssen.de/">Jarlssen GmbH</a>.
</p>
<p>The impulse to organize magento hackathons came from <a href="http://www.icyapp.de">Damian Luszczymak</a>.</p>
<h3>Who should take part</h3>
<p>
    Everybody who has extended php-knowledge and has some magento experience is welcome. It is important to
    have a certain level of knowledge to benefit from the magento hackathon let alone to contribute to it.
</p>
<p>
    A Magento Hackathon is no replacement for self education, reading books or a
    <a href="http://www.magentocommerce.com/training/descriptions#fundamentals-of-magento-development">Magento U
        course</a>.
</p>
{% endblock %}