{% extends "::base.html.twig" %}
{% block content %}

<address>
    <a href="mailto:hackathon@fabian-blechschmidt.de">Fabian Blechschmidt</a><br/>
    Crailsheimer Str. 10<br/>
    12247 Berlin<br/>
</address>
<p>
    <a href="mailto:hackathon@fabian-blechschmidt.de">hackathon@fabian-blechschmidt.de</a>
</p>

<p>Special thanks, goes to my fantastic, awsome girlfriend Pia, for the help to bring this site online!</p>
{% endblock %}